@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
  --font-source-serif4: "Source Serif 4", serif;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/SourceSerif4-VariableFont_opsz_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


html, body {
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}
